<% provide(:title, 'All Activities') %>
<h1>All Activities </h1>
<%= will_paginate %>

<ul class="Activities">
  <%= Activity.count %>
  <% @activities.each do |activity| %>
  <%= render activity%>
  <% end %>
</ul>
<%= will_paginate %>