<% provide(:title, 'New team') %>
<h1>New team</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @team] do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create new team", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>